# deps
node_modules/

# env & secrets
.env
.env.*
*.local

# logs
*.log
npm-debug.log*

# local backups written by scripts/sync-to-profile.mjs and hand edits
*.bak
*.bak-*

# OS
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/